<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Interior Design</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/sample.css">
    <link rel="stylesheet" type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/d7d7ee6600.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script src="lodash.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@1,700&display=swap" rel="stylesheet">

  </head>
<body>

  <div class="main">
    <div class="slider-background">
      <div class="container">
        <div class="header">
          <div class="logo">
            <i class="fa fa-handshake-o" aria-hidden="true"> Imperial Taste of Decor</i>
          </div>
          <div class="nav-bar">
            <ul>
              <li><a href="/home"><i class="fa fa-home" aria-hidden="true"></i> HOME</a></li>
              <li><a href="/about"><i class="fa fa-user-circle-o" aria-hidden="true"></i> ABOUT US</a></li>
              <li><a href="/portfolio"l><i class="fa fa-id-card-o" aria-hidden="true"></i> PORTFOLIO</a></li>
              <li><a href="/book"><i class="fa fa-laptop" aria-hidden="true"></i> BOOK ONLINE</a></li>
              <li><a href="/contact"><i class="fa fa-phone" aria-hidden="true"></i> CONTACT</a></li>
            </ul>
          </div>

        </div>

  <!-- <nav class="navbar navbar-default">

    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Imperial Taste of Decor</p>
      </div>

        <ul class="nav navbar-nav navbar-right">

          <li id="home">
              <a href="/">HOME</a></li>
          <li id="book"><a href="/book">BOOK ONLINE</a></li>
          <li id="book"><a href="/portfolio">PORTFOLIO</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
        <li>
          </li>
        </ul>
    </div>
  </nav> -->
