.nav ul li a{
    
   text-decoration: none;
   
    
    color:white;
    width:15vw;
    
}
.nav ul li{
    display:inline-flex;
    padding:20px 0px;
}
.nav{
    background-color: green;
    padding-left: 5%;
}
.nav ul img{
    padding-left: 3px;
    height: 30px;
}