<%- include('partials/header2'); %>

        <h1 style="text-align:center;font-size:40px">Kitchen Designs</h1>
        <div class="section">
          <div>
            <li><a href="../images/kitchen/pic1.jpg" target="_blank"><img src="../images/kitchen/pic1.jpg" alt="Kitchen image"></a></li>

            <li><a href="../images/kitchen/pic2.jpg" target="_blank"><img src="../images/kitchen/pic2.jpg" alt="Kitchen image"></a></li>


            <li><a href="../images/kitchen/pic3.jpg" target="_blank"><img src="../images/kitchen/pic3.jpg" alt="Kitchen image"></a></li>
          </div>
          <div>

            <li><a href="../images/kitchen/pic4.jpg" target="_blank"><img src="../images/kitchen/pic4.jpg" alt="Kitchen image"></a></li>


            <li><a href="../images/kitchen/pic5.jpg" target="_blank"><img src="../images/kitchen/pic5.jpg" alt="Kitchen image"></a></li>


            <li><a href="../images/kitchen/pic6.jpg" target="_blank"><img src="../images/kitchen/pic6.jpg" alt="Kitchen image"></a></li>
          </div>
          <div>
            <li class="hidden"><a href="../images/kitchen/pic7.jpg" target="_blank"><img src="../images/kitchen/pic7.jpg" alt="Kitchen images"></a></li>
            <li class="hidden"><a href="../images/kitchen/pic8.jpg" target="_blank"><img src="../images/kitchen/pic8.jpg" alt="Kitchen images"></a></li>
            <li class="hidden"><a href="../images/kitchen/pic9.jpg" target="_blank"><img src="../images/kitchen/pic9.jpg" alt="Kitchen images"></a></li>
          </div>
          <div>
            <li class="hidden"><a href="../images/kitchen/pic10.jpg" target="_blank"><img src="../images/kitchen/pic10.jpg" alt="Kitchen images"></a></li>
            <li class="hidden"><a href="../images/kitchen/pic11.jpg" target="_blank"><img src="../images/kitchen/pic11.jpg" alt="Kitchen images"></a></li>
            <li class="hidden"><a href="../images/kitchen/pic12.jpg" target="_blank"><img src="../images/kitchen/pic12.jpg" alt="Kitchen images"></a></li>
          </div>


        </div>


      </div>





    </div>
  </div>

  </div>

</body>
<div class="buttons">
  <button id="morebtn">Show more</button>
  <button id="lessbtn">show less</button>
</div>

</html>
